<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Detalhes do Evento</title>
</head>
<body>
    <div th:replace="~{menu :: menu}"></div>

    <div class="container">
        <h1>Detalhes do evento</h1>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Evento</span>
                        <p><strong>Id:</strong> <span th:text="${evento.id}">1</span></p>
                        <p><strong>Nome:</strong> <span th:text="${evento.nome}">Aniversário de José</span></p>
                        <p><strong>Preço:</strong> <span th:text="${evento.preco}">Club</span></p>
                        <p><strong>Quantidade:</strong> <span th:text="${evento.qtd}">25/02/2021</span></p>
                        <p><strong>Valor Total:</strong> <span th:text="${evento.valorT}">20:00</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Informe o local de entrega e método de pagamento</span>
                        <form th:action="@{/eventos/{idEvento}(idEvento=${evento.id})}" method="post">
                            <div>
                                <input type="hidden" name="id" th:value="${convidado.id}" readonly="readonly">
                            </div>
                            <div>
                                <label>:Local de entrega:</label>
                                <input type="text" name="localE" th:value="${convidado.localE}">
                            </div>
                            <div>
                                <label>Método de pagamento:</label>
                                <input type="text" name="metodoP" th:value="${convidado.metodoP}">
                            </div>
                            <div>
                                <button type="submit" class="btn">Salvar</button>
                                <button type="reset" class="btn">Limpar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Informações Complementares</span>
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Local</th>
                                    <th>Método de Pagamento</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="c : ${convidados}">
                                    <td th:text="${c.id}">1</td>
                                    <td th:text="${c.localE}">Fernando</td>
                                    <td th:text="${c.metodoP}">123</td>
                                    <td>
                                        <a th:href="@{/eventos/{idEvento}/convidados/{idConvidado}/selecionar(idEvento=${evento.id}, idConvidado=${c.id})}">
                                            <i class="material-icons red-text">edit</i>
                                        </a>
                                        <a th:href="@{/eventos/{idEvento}/convidados/{id}/remover(idEvento=${evento.id}, id=${c.id})}">
                                            <i class="material-icons red-text">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
