<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Atividades</title>
</head>
<body>
    <div th:replace="~{menu :: menu}"></div>
    <div class="container">
        <h1>Adicionar Evento</h1>

        <form action="/eventos" method="post" th:object="${evento}">
            <div>
                <input type="hidden" th:field="*{id}" readonly="readonly"/>
            </div>

            <div>
                <label>Nome: </label>
                <input type="text" th:field="*{nome}" />
                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro no campo Nome</p>
            </div>

            <div>
                <label>Local: </label>
                <input type="text" th:field="*{local}" />
                <p th:if="${#fields.hasErrors('local')}" th:errors="*{local}">Erro no campo Local</p>
            </div>

            <div>
                <label>Data: </label>
                <input type="date" th:field="*{data}" />
                <p th:if="${#fields.hasErrors('data')}" th:errors="*{data}">Erro no campo Data</p>
            </div>

            <div>
                <label>Horário: </label>
                <input type="time" th:field="*{horario}" />
                <p th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}">Erro no campo Horário</p>
            </div>
        
            <div>
                <button class="waves-effect waves-light btn" type="submit">Salvar</button>
                <button class="waves-effect waves-light btn" type="reset">Limpar</button>
            </div>
        </form>
    </div>
</body>
</html>